body {
	margin: 0px;
}
.rounded-none {
	border-radius: 0px;
}
.rounded-min {
	border-radius: 8px;
}
.rounded-med {
	border-radius: 16px;
}
.rounded-full {
	border-radius: 50px;
}
.material-symbols-outlined {
	font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
h3 {
	font-size: 39px;
}
/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.container {
		flex-direction: column;
	}
	h3 {
		font-size: 22px;
	}
	.logo img {
		width: 14rem;
	}
	.result-container {
		flex-direction: column;
	}
	button {
		width: 100%;
	}
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
	.container {
		flex-direction: column;
	}
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
	.container {
		flex-direction: column;
	}
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
}
